#home-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
}

#board {
    border: 1px solid #000000;
    width: 100%;
}

#board td {
    border: 1px solid #797979;
    width: auto;
}

/*
    Task Card
*/
#exit-modal-btn {
    position: absolute;
    margin: 1em;
    top: 0;
    right: 0;
}

#task-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border: 1px solid #797979;
    padding: 1rem;
}

#tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#tag {
    margin: 10px;
    padding: 10px;
    border: 1px solid #797979;
}