#home-wrapper {
    margin: 1em auto;
    font: 18px/1.5 sans-serif;
}

#board {
    border: 1px solid #000000;
    width: 100%;
}

#board td {
    vertical-align: top;
    border: 1px solid #797979;
    width: 25%;
}

/*
    Task Card Modal
*/

.modal-content, .modal-task {
    width: 100%;
}

#task-card {
    border: 1px solid #797979;
    padding: 1rem;
}

#tags {
    display: flex;
    flex-direction: row;
}